	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 text-left">
					&copy; Mag. Katharina Killy
				</div>
				<div class="col-xs-6 text-right">
					<a href="/impressum/">Impressum</a>
				</div>
			</div>
		</div>
	</div>