	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 text-left">
					&copy; Mag. Katharina Killy - Psychologin, Kindergarten- und Kleinstkindpädagogin<br>
					<small>Margaretenstraße 142/11, 1050 Wien</small>
				</div>
				<div class="col-xs-6 text-right">
					<a href="/impressum/">Impressum</a>
				</div>
			</div>
		</div>
	</div>