	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 text-left hidden-xs">
					&copy; Mag. Katharina Killy-Martins - Klinische Psychologin, Kinder- und Jugendpsychologin, Kindergarten- und Kleinstkindpädagogin<br>
					<small><a href="mailto:katharina@killy.at">katharina@killy.at</a> - Oberösterreich</small>
				</div>
				<div class="col-xs-7 text-left hidden-sm hidden-md hidden-lg">
					&copy; Mag. Katharina Killy-Martins<br>
					<small><a href="mailto:katharina@killy.at">katharina@killy.at</a> - Oberösterreich</small>
				</div>
				<div class="col-sm-2 col-xs-5 text-right">
					<a href="/impressum/">Impressum</a>
				</div>
			</div>
		</div>
	</div>